html {
  scroll-behavior: smooth;
  box-sizing: border-box;

  transition: all .5s;

  font-size: 62.5%;

  @media (max-width: 75em) {
    font-size: 56, 25%
  }

  @media (max-width: 75em) {
    font-size: 50%
  }

  ;

  @media (min-width: 112.5em) {
    font-size: 75%;
  }

  ;
}


body {
  font-family: "Lato", sans-serif;
  color: var(--color-text-primary);
  font-weight: 300;
  line-height: 1.6;
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  background: var(--bg-body);
  display: flex;

}

.main {
  width: 100%;
  background: var(--bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}